<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div class="content">
    <div class="GithubSearchUser">
        <input class="js-inputSearch" type="text" placeholder="type a github username">
        <ul class="Results js-results">
            <!--Search items will go here-->
        </ul>
    </div>
</div>
</body>
</html>
